.jobOffers--container {
    width: 100%;
    height: 100%;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.jobOffers__offerBox {
    flex-basis: 25%;
    min-height: 350px;

    margin-left: 15px;
}

.jobOffers__offerBox--button{
    background-color: #7ad49c;
    text-decoration: none;
    border: none;
    border-radius: 5px 5px;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
}

.jobOffers__offerBox--button:hover{
    background-color: #65b885;
    color: white;
}
