.weather__element {
    color: snow;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
    margin: 10px;
}

.weather__settings__button {
    color: snow;
}

.weather__settings__button:hover {
    color: #686666;
}

.weather__main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .weather__main-container {
        position: static;
        transform: none;
    }
}
