.football__header{
    padding: 25px;
}

.leagues__container{
    background-color: white;
    overflow: scroll;
    height: auto;
}

.leagues__box{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    margin-left: 25px;
    margin-right: 25px;
}

.leagues__box--image{
    height: 50%;
}

.leagues__box--name{
    padding-top: 15px;
}